.category li .sub-category {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s; /* Adjust the timing if needed */
    cursor: pointer;
}

.sub-category li:hover{
    background-color: var(--color-orange);
    color: white;
}

.sub-category li:hover .right-icon{
    color: white;
}

.category li:hover .sub-category {
    opacity: 1;
    visibility: visible;
}

.category .sub-category .category-li .brand {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s; /* Adjust the timing if needed */
}

.category .sub-category .category-li:hover .brand {
    opacity: 1;
    visibility: visible;
}
