
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Roboto', sans-serif;
}

.my-container{
    @apply lg:w-[90%] w-[95%] mx-auto max-w-screen-2xl max-h-[800px]
}

.bg-gradient{
    @apply bg-gradient-to-r from-[#A408C7] to-[#6817E3]
}

.text-gradient{
    @apply text-[#6817E3]
}

.primary-btn{
    transition: all ease-in-out .3s;
    @apply px-7 border border-transparent py-2 rounded-md text-white bg-gradient-to-r from-[#A408C7] to-[#6817E3]
}


.primary-btn:hover{
    transform: scale(1.05);
    @apply shadow-lg shadow-[#cb8ffc]
}


.secondery-btn{
    @apply bg-blue-800 text-white px-7 py-1 rounded-lg
}

.text-blue{
    @apply text-[#6817E3]
}