
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --color-orange:#fc360a;
    --color-blue:#6817E3;
}

body{
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

.my-container{
    @apply lg:w-[90%] w-[95%] mx-auto max-w-screen-2xl max-h-[800px]
}

.bg-gradient{
    @apply bg-gradient-to-r from-[#A408C7] to-[#6817E3]
}

.text-gradient{
    @apply text-[#6817E3]
}

.primary-btn{
    transition: all ease-in-out .3s;
    @apply px-7 border border-transparent py-2 rounded-md text-white bg-gradient-to-r from-[#A408C7] to-[#6817E3]
}


.primary-btn:hover{
    transform: scale(1.05);
    @apply shadow-lg shadow-[#cb8ffc]
}

.secondery-btn{
    background-color: var(--color-orange);
    border: 1px solid transparent;
    transition: all ease-in-out .3s;
    @apply text-white px-7 py-1 rounded-lg text-lg
}

.secondery-btn:hover{
    border: 1px solid var(--color-orange);
    background-color: white;
    color: var(--color-orange);
    @apply shadow-lg shadow-[#ff8249] scale-105
}

.text-orange{
    color: var(--color-orange);
}

.bg-orange{
    background-color: var(--color-orange);
}

.border-orange{
    border-color: var(--color-orange);
}

.text-blue{
    color:var(--color-blue)
}

.bg-blue{
    @apply bg-[#6817E3]
}




/* ==================scrollbar====================== */
::-webkit-scrollbar{
    width: 8px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: #69469b;
    border-radius: 3px;
}

::-webkit-scrollbar-track{
    background-color: #6917e33a;
}



